<img src={{image}} class="center-block"/>
<br>
<h2>
  {{title}}
</h2>
<p>By {{author}}</p>
<br/>
<p>
  {{content}}
</p>
Posted: {{formattedDate}}
<br>
{{#link-to 'edit' id tagName='button'}}Edit{{/link-to}}