<img src={{image}} class="center-block"/>
<br>
<h2>
  {{title}}
</h2>
<p>By {{author}}</p>
<p>Posted: {{displayDate}}</p>
<br/>
<h5>
  {{content}}
</h5>
<p></p>
<br>
{{#link-to 'edit' id tagName='button'}}Edit{{/link-to}}