{{!-- <img src={{post.image}} class="center-block"/> --}}
<br><h3>Image path</h3>{{input value=image}}
 <h3>Title</h3>{{input value=title}}
<br/> <h3>Excerpt</h3>{{textarea value=excerpt cols="80" rows="3"}}
<br/> <h3>Content</h3>{{textarea value=content cols="80" rows="6"}}
<br/> <h3>Author</h3>{{input value=author}}
<br/> <h3>Date Published</h3>{{bootstrap-datepicker value=date autoclose=true format="DD MM d, yyyy"}}
<br/>


<button {{action "saveNew"}}>Save Post</button>